<div id="comments">
    <div class="mb-3">
        <span class="h5">评论</span>
        <span class="float-right text-secondary">{{comments.count}}条</span>
    </div>
    {% for comment in comments %}
    <div class="media mb-3" style="margin-left:{{comment.get_level}}px">
        <img class="avatar d-flex mt-2 mr-2 rounded-circle" src="{{comment.get_avatar_url}}"></img>
        <div class="media-body">
            <span class="comment-title">{% if comment.g_site %}<a href="{{comment.g_site}}" rel="external nofollow" target="_blank">{% endif %}{{comment.g_nikename}}{% if comment.g_site %}</a>{% endif %} : </span>
            <div class="small text-secondary float-right">
                <span class="comment-date">{{comment.date | date:"Y/m/d"}} </span>
                <span class="comment-reply" title="回复" data-to="{{ comment.id }}">Reply</span>
            </div>
            <p class="comment-text mt-2">{{comment}}</p>
        </div>
    </div>
    {% endfor %}
    <form id="comment-form" class="mt-4" method='post' action="">
        <h5 class="mb-3">发表评论</h5>
        {% csrf_token %}
        <input type='hidden' name='to' value='' />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input class="form-control rounded-0{% if form.g_nikename.errors %} is-invalid{% endif %}" value="{% firstof form.g_nikename.value user.first_name %}" name="{{form.g_nikename.name}}" placeholder="昵称*"/>
                    <div class="invalid-feedback">{% firstof form.g_nikename.errors %}</div>
                </div>
                <div class="form-group">
                    <input class="form-control rounded-0{% if form.g_email.errors %} is-invalid{% endif %}" value="{% firstof form.g_email.value user.email %}" name="{{form.g_email.name}}" placeholder="邮箱*"/>
                    <div class="invalid-feedback">{% firstof form.g_email.errors %}</div>
                </div>
                <div class="form-group">
                    <input class="form-control rounded-0{% if form.g_site.errors %} is-invalid{% endif %}" value="{% firstof form.g_site.value %}" name="{{form.g_site.name}}" placeholder="网站"/>
                    <div class="invalid-feedback">{% firstof form.g_site.errors %}</div>
                </div>
            </div>
            <div class="col-3 text-right">
                <img id="comment-form-avatar" class="img-fluid" src="//cdn.v2ex.com/gravatar/?s=130&d=mm">
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control rounded-0{% if form.content.errors %} is-invalid{% endif %}" rows="5" name="{{form.content.name}}" placeholder="Tell me about your dreams.">{% firstof form.content.value %}</textarea>
            <div class="invalid-feedback">{% firstof form.content.errors %}</div>
        </div>
        <div class="form-check">
            <label class="form-check-label"><input type="checkbox" class="form-check-input" name="{{form.allow_email.name}}"{%if form.allow_email.value %} checked="checked"{%endif%}>有回复时通过邮件通知我</label>
        </div>
        <div class="form-group">
            <button id="comment-submit" class="btn btn-info rounded-0 mr-2" type="submit">提交</button>
            <span id="comment-success" class="text-success"></span>
        </div>

    </form>
</div>