{% load pyblog %}
<h4 class="pb-2"><i class="fas fa-fire mr-1 text-secondary small"></i> 推荐文章</h4>
<ul class="list-unstyled text-muted mb-3">
{% hotArticle as hotArticle %}
  {% for item in hotArticle %}
      <li class="text-truncate"><a href="{% url 'post' item.slug %}" title="{{item.title}}">{{item.title}}</a></li>
  {% endfor %}
</ul>

<h4 class="pb-2"><i class="fas fa-tags mr-1 text-secondary small"></i> 标签</h4>
<div class="tags">
{% tags as tags %}
  {% for tag in tags %}
  <a class="tag-list" href="{% url 'tag' tag.title %}" title="{{tag.title|capfirst}}">{{tag.title|capfirst}}</a>
  {% endfor %}
</div>


<nav id="outline" class="mt-3">
{% if article %}
  {% outline %}
{% endif %}
</nav>