{% extends "base.html" %}

{% block content %}

{% load pyblog %}
{% load i18n %}

<div class="article-list">
  {% for article in object_list%}
  <section class="article-list-item mb-4">
    <h2><a href="{% url 'article' article.slug%}" title="{{ article.title }}">{{ article.title }}</a></h2>
    <div>
      <span class="text-muted">{% language 'en' %}{{ article.pub_date|date:"N j, Y" }}{% endlanguage %}</span> ·
      <span><a href="{% url 'category' article.category.slug %}" title="分类：{{article.category}}">{{ article.category }}</a></span>
    </div>
    <div class="summary">{{ article.content|markdown|striptags|denewline|slice:"500" }}</div>
  </section>
  {% empty %}
  <div>暂无内容</div>
  {% endfor %}
</div>
<nav class="mt-3">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info" rel="prev" href="{{request.path}}?page={{ page_obj.number|add:-1 }}">上一页</a>
    {% endif %}
    
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info" rel="next" href="{{request.path}}?page={{ page_obj.number|add:1 }}">下一页</a>
    {% endif %}
</nav>
{% endblock %}